:root {
  --default: #006db6;
  --dark-color: #006db6;
  --dark-color-active: #004d80;
  --light-color: #000000;
  --checkmark-color: #ffc62f;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: url("img/football-field-50yd.jpg") no-repeat center center fixed;
  background-size: cover;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  margin: 0;
}

img {
  height: auto;
  width: 100%;
}

.logo {
  background-position: center center;
  background-size: contain;
  /* background-size: 35%; */
  background-repeat: no-repeat;
  background-origin: content-box;
}

@media (min-width: 600px) {
  body {
    font-size: 16px;
  }
}

@media (min-width: 760px) {
  body {
    font-size: 20px;
  }
}

@media (min-width: 1200px) {
  body {
    font-size: 24px;
  }
}

h1 {
  font-size: 1em;
  margin: 0;
}

#main {
  margin: 0 auto;
  max-width: 1500px;
}

.nav-wrapper {
  background-color: var(--dark-color);
  padding: 0 0.25em;
  position: relative;
}

nav {
  margin: 0 auto;
  max-width: 1500px;
  padding: 0.5em 0;
}

#teams-select {
  font-size: 0.9em;
  padding-left: 4px;
  width: 100%;
}

.title {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: -0.4em 0.25em -0.1em;
}
.title > * {
  color: var(--dark-color);
  font-family: "Roboto Slab", serif;
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff, 2px 2px 0 #fff, 3px 3px 0 #fff;
}

/* .game-info {
  display: flex;
} */

.game {
  background-color: var(--dark-color);
  border: 1px solid #fff;
  border-bottom: none;
  border-radius: 6px 6px 0 0;
  margin: 0 0.25em;
  padding: 0.4em;
  text-align: center;
}

.game-name {
  font-weight: bold;
  margin-left: 2px;
  text-transform: uppercase;
}

.board {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 85px);
  margin: 0 0.25em;
}

.square {
  background-color: var(--dark-color);
  border: 1px solid #fff;
  color: #fff;
  padding: 0 0.75em;
  display: flex;
  align-items: center;
  font-size: 0.9em;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 250ms;
  user-select: none;
  overflow: hidden;
  position: relative;
  line-height: 1.3;
  hyphens: auto;
}

/* .square:hover:not(.active) {
  background-color: var(--dark-color-active);
} */

.square.active {
  /* background-color: var(--dark-color-active); */
  color: #fff;
}

.square:after {
  position: absolute;
  font-size: 3.5rem;
  font-weight: bold;
  content: "\2713 ";
  color: var(--checkmark-color);
  top: -80%;
  left: 50%;
  transform: translateX(-50%);
  transition: top 150ms ease-out;

  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
}

.square.logo:after {
  content: "";
}

.square.active:after {
  top: 5%;
}

.square.free {
  font-size: 1.75em;
}

.square.bingo {
  box-shadow: inset 0 0 0 5px var(--light-color);
  /* animation-name: fade;
  animation-duration: 0.2s;
  animation-direction: alternate;
  animation-iteration-count: 7;
  animation-timing-function: ease-out;  */
}

.player {
  position: relative;
}

.player-img {
  position: absolute;
  left: -15px;
  bottom: -5px;
  max-width: 150px;
  --clr: rgba(0, 0, 0, 0.5);
  -webkit-filter: drop-shadow(2px 1px 0 var(--clr))
    drop-shadow(-1px -1px 0 var(--clr));
  filter: drop-shadow(2px 1px 0 var(--clr)) drop-shadow(-1px -1px 0 var(--clr));
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.select-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0.5em 0.2em 0.5em;
}

.select-area > * {
  flex: 2;
}

#chooseGameResume {
  color: #fff;
  background-color: #222;
  border: 3px solid #222;
}
#chooseGameResume:hover {
  background-color: #444;
}

button {
  cursor: pointer;
  color: var(--dark-color);
  background-color: #fff;
  border: 3px solid var(--dark-color);
  border-radius: 6px;
  font-family: "Open Sans", sans-serif;
  font-size: 0.9em;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0.5em 0.5em;
  transition: all 200ms;
}

button.sml {
  font-size: 0.75em;
}
button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}
button[disabled]:hover {
  background-color: #fff;
}

.modal button {
  background-color: var(--dark-color);
  color: #fff;
}

.modal button:focus,
.modal button:hover {
  background-color: var(--dark-color-active);
  outline: none;
}

button.shadow {
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
}

.button__title {
  margin-bottom: 0.2em;
  margin-top: 0.2em;
  letter-spacing: 2px;
}
.button__description {
  font-weight: normal;
  text-transform: none;
  margin: 0 0 0.2em 0;
}

button.block {
  display: block;
  width: 100%;
}

button:focus,
button:hover {
  background-color: #eee;
}

.footer {
  margin: 0.5em auto;
  text-align: right;
  max-width: 1470px;
  padding-right: 0.25em;
}

.game-buttons > button:not(:last-child) {
  margin-bottom: 1em;
}

@keyframes fade {
  0% {
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0);
  }
  100% {
    box-shadow: inset 0 0 0 5px var(--light-color);
  }
}

.is-picked {
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  font-weight: bold;
  color: var(--dark-color);
}

/* Utilities */
.sr-only {
  position: absolute;
  padding: 0;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}
.hidden {
  display: none !important;
}
.mr-1 {
  margin-right: 0.2em;
}
.mr-2 {
  margin-right: 0.4em;
}

/* Print */
@media print {
  body {
    background-color: #fff;
  }

  .title {
    margin-bottom: 0.5em;
  }

  .title > * {
    border: none;
    color: #000;
    font-size: 3em;
  }

  .nav-wrapper {
    display: none;
  }

  .board {
    display: grid;
    grid-template-rows: repeat(5, 130px);
  }

  .square {
    background-color: none;
    border: none;
    color: #000;
    font-size: 1.4em;
    outline: 2px solid #000;
  }

  .square.free {
    font-size: 3em;
  }

  .square.active {
    color: #000;
  }

  .square:after {
    display: none;
    color: rgba(0, 0, 0, 0.5);
  }

  .timestamp {
    display: none;
    color: #666;
    margin-top: 2em;
  }

  footer {
    display: none;
  }
}
